<!-- <section>
	
	<sample></sample>
	<sample></sample>
	<sample></sample>
	<sample></sample>

</section> -->

<!-- <section ng-controller="sampleController">
	
	<sample done="logger(abc)"></sample>


</section> -->

<!-- <section ng-controller="sampleController">
	
	Controller 
	<input type="text" ng-model="something">


	Directive
	<div drink flavor="something"></div>
</section> -->


<!-- <section>

	<panel><h1>wow</h1></panel>
</section> -->

<section>
	 <div ng-controller="PhoneController">
	    <phone number="555-1234" network="network" make-call="leaveVoicemail(number, message)"></phone>
	    <phone number="867-5309" network="network" make-call="leaveVoicemail(number, message)"></phone>
	    <phone number="911" network="network" make-call="leaveVoicemail(number, message)"></phone>
	  </div>
</section>